<mat-form-field appearance="fill">
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    [matTooltip]="
      selectedValues.length === 0 ? ('SHARED_COMPONENTS.FILTER.NO_FILTER_SELECTED' | translate) : ''
    "
  >
    <mat-select
      disableOptionCentering
      (selectionChange)="onSelectionChange()"
      panelClass="example-panel"
      [placeholder]="'SHARED_COMPONENTS.FILTER.' + filter?.filterType | translate"
      [(value)]="selectedValues"
      [multiple]="multiSelect"
    >
      <mat-select-trigger
        [matTooltip]="getCleanValue(selectedValues)"
        matTooltipPosition="below"
        matTooltipShowDelay="300"
      >
        {{ getCleanValue(selectedValues) }}
      </mat-select-trigger>
      <mat-option *ngFor="let value of filter.data" [value]="value.label">
        {{ value.display | displayTranslation }} ({{ value.count }})
      </mat-option>
    </mat-select>
  </div>
</mat-form-field>
