<mat-form-field appearance="fill">
  <div
    class="select-wrapper"
    [matTooltip]="
      selectedValues()?.length === 0
        ? ('SHARED_COMPONENTS.FILTER.NO_FILTER_SELECTED' | translate)
        : getCleanValue(selectedValues())
    "
    matTooltipPosition="below"
    matTooltipShowDelay="300"
  >
    <mat-select
      disableOptionCentering
      (selectionChange)="onSelectionChange($event.value)"
      (openedChange)="onOpenedChange($event)"
      panelClass="example-panel"
      [placeholder]="'SHARED_COMPONENTS.FILTER.' + filter()?.filterType | uppercase | translate"
      [value]="selectedValues()"
      [multiple]="multiSelect()"
    >
      <mat-select-trigger>
        {{ getCleanValue(selectedValues()) }}
      </mat-select-trigger>
      <mat-option disabled class="select-search-option">
        <div class="select-search-wrapper">
          <fa-icon class="icon-design" icon="search" [fixedWidth]="true"></fa-icon>
          <input
            class="select-search-input"
            [placeholder]="'SHARED_COMPONENTS.FILTER.SEARCH' | translate"
            [(ngModel)]="searchText"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
          />
        </div>
      </mat-option>
      <mat-optgroup class="scrollable-options-group">
        @for (value of filteredData; track value.label) {
        <mat-option [value]="value.label">
          {{ value.display | displayTranslation }} ({{ value.count }})
        </mat-option>
        }
      </mat-optgroup>
    </mat-select>
  </div>
</mat-form-field>
