<div class="modal-content">
  <button class="close-btn" (click)="doDiscard()" aria-label="Close">
    <fa-icon icon="times"></fa-icon>
  </button>
  <ng-content></ng-content>
  <div class="save-query-box">
    <input
      class="field-input"
      type="text"
      [(ngModel)]="title"
      placeholder="{{ 'SHARED_COMPONENTS.SAVE_MODAL.LABEL' | translate }}"
    />
    @if (isCommentRequired()) {
    <textarea
      class="field-input field-textarea"
      [(ngModel)]="comment"
      placeholder="{{ 'SAVED_QUERIES.COMMENT' | translate }}"
    ></textarea>
    }
  </div>

  <div class="save-dialog-footer">
    <num-button
      type="green"
      [attr.data-cy]="'save-file-button'"
      [isDisabled]="title.length === 0"
      (click)="doSave()"
      class="button-save"
    >
      {{ 'SHARED_COMPONENTS.SAVE_MODAL.SAVE' | translate }}
    </num-button>
  </div>
</div>
