<div class="fullscreen">
  <div class="cards-section">
    <num-header [showToggle]="true">{{ 'DASHBOARD.HEADER' | translate }}</num-header>
    <num-header-description>
      {{ 'DASHBOARD.INFO.TEXT' | translate }}
    </num-header-description>

    <div class="link-boxes">
      <div class="linkBox linkBox--blue">
        <div class="queryBoxHeader">{{ 'DASHBOARD.NEWQUERY.HEADER' | translate }}</div>
        <num-button (click)="navigateToFeasibilityEditor()" type="blue">
          {{ 'DASHBOARD.NEWQUERY.BUTTON' | translate }}
        </num-button>
      </div>

      <div class="linkBox linkBox--green">
        <div class="queryBoxHeader">{{ 'DASHBOARD.PROPOSALPORTAL.HEADER' | translate }}</div>
        <num-button type="green" (click)="navigateToProposalPortal()">
          {{ 'DASHBOARD.PROPOSALPORTAL.BUTTON' | translate }}
        </num-button>
      </div>

      <div class="linkBox linkBox--grey">
        <div class="queryBoxHeader">{{ 'DASHBOARD.SAVED_QUERIES.HEADER' | translate }}</div>
        <num-button (click)="navigateToSavedQueries()" type="blue">
          {{ 'DASHBOARD.SAVED_QUERIES.BUTTON' | translate }}
        </num-button>
      </div>

      <div class="linkBox linkBox--blue">
        <div class="queryBoxHeader">{{ 'DASHBOARD.DATASELECTION.HEADER' | translate }}</div>
        <num-button (click)="navigateToDataSelectionEditor()" type="blue">
          {{ 'DASHBOARD.DATASELECTION.BUTTON' | translate }}
        </num-button>
      </div>

      <div class="linkBox linkBox--grey">
        <div class="queryBoxHeader">{{ 'DASHBOARD.UPLOAD_DATADEFINITION.HEADER' | translate }}</div>
        <input
          [attr.data-cy]="'upload-crtdl'"
          type="file"
          class="file-input"
          (change)="upload($event)"
          #fileUpload
        />
        <num-button (click)="fileUpload.click()" type="blue">
          {{ 'DASHBOARD.UPLOAD_DATADEFINITION.BUTTON' | translate }}
        </num-button>
      </div>
    </div>
  </div>

  <num-dashboard-faq class="faq-section"></num-dashboard-faq>
</div>
