.add-button {
  margin-top: var(--spacing-10);
}

.table-scroll-area {
  overflow: auto;
  height: 100%;
}

num-table {
  display: block;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 24px;
}
