<div class="container">
  <div class="table-scroll-area">
    @if (adaptedData()?.body.rows.length > 0) {
    <num-table
      class="result-list-container"
      [tableData]="adaptedData()"
      (selectedRow)="addSelectedRow($event)"
      (loadMore)="loadMoreSearchResults()"
    ></num-table>
    } @if (adaptedData()?.body.rows.length <= 0) {
    <num-placeholder-box class="no-results-text">
      {{ 'FEASIBILITY.EDITOR.EMPTY' | translate }} "
      <strong>{{ searchText() }}</strong>
    </num-placeholder-box>
    }
  </div>
</div>
