<mat-tab-group class="details-tab-group" animationDuration="0ms">
  <!-- Details tab -->

  <!-- Parents tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'SHARED_COMPONENTS.LIST_ITEM_DETAILS.PARENTS' | translate }}
      ({{ listItemDetails().parents?.length || 0 }})
    </ng-template>
    @let parentsTab = listItemDetails()?.parents ?? [];
    <div class="tab-content">
      @if (parentsTab.length) {
      <num-list-item-details-generic-sections
        [listItemDetails]="parentsTab"
        [menuItems]="menuItems()"
        (selectedRelative)="getSelectedRelative($event)"
      />
      } @else {
      <div class="num-text-accent">
        {{ 'SHARED_COMPONENTS.LIST_ITEM_DETAILS.NO_PARENTS' | translate }}
      </div>
      }
    </div>
  </mat-tab>

  <!-- Children tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'SHARED_COMPONENTS.LIST_ITEM_DETAILS.CHILDREN' | translate }}
      ({{ listItemDetails().children?.length || 0 }})
    </ng-template>
    @let childrenTab = listItemDetails()?.children ?? [];
    <div class="tab-content">
      @if (childrenTab.length) {
      <num-list-item-details-generic-sections
        [listItemDetails]="childrenTab"
        [menuItems]="menuItems()"
        (selectedRelative)="getSelectedRelative($event)"
      />
      } @else {
      <div class="num-text-accent">
        {{ 'SHARED_COMPONENTS.LIST_ITEM_DETAILS.NO_CHILDREN' | translate }}
      </div>
      }
    </div>
  </mat-tab>

  @if(listItemDetails().fields) {
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'SHARED_COMPONENTS.LIST_ITEM_DETAILS.FIELDS' | translate }}
      ({{ listItemDetails().fields?.length }})
    </ng-template>
    @let fielTab = listItemDetails().fields; @if (fielTab?.length) {
    <div class="tab-content">
      <num-list-item-details-generic-sections
        [listItemDetails]="fielTab"
        [showSearch]="true"
        (selectedRelative)="getSelectedRelative($event)"
      />
    </div>
    }
  </mat-tab>
  }
</mat-tab-group>
