<div
  fxLayout="row"
  fxLayoutAlign="start stretch"
  class="num-card selection-box"
  [attr.data-cy]="label | displayTranslation"
>
  <div class="display-container">
    <div class="num-text-body">{{ label | displayTranslation }}</div>
    <div
      class="num-pill"
      [class.expanded]="displayExpanded"
      (click)="displayExpanded = !displayExpanded"
    >
      {{ display }}
    </div>
  </div>
  <div class="card-col">
    <div class="label-with-info">
      <span class="num-text-accent">{{
        'DATASELECTION.EDITOR.DISPLAY.SELECTED_FIELDS' | translate
      }}</span>
      <span
        class="info-icon"
        numInfoTooltip
        [infoTooltipTitle]="
          'DATASELECTION.EDITOR.DISPLAY.SELECTED_FIELDS_TOOLTIP_TITLE' | translate
        "
        [infoTooltipText]="'DATASELECTION.EDITOR.DISPLAY.SELECTED_FIELDS_TOOLTIP_TEXT' | translate"
      ></span>
    </div>
    <div class="filter-chips-container">
      <ng-container *ngIf="$fieldsFilterChips | async as chips">
        <num-filter-chips *ngIf="chips.length > 0" [filterChips]="chips"></num-filter-chips>
        <span *ngIf="!chips.length" class="empty-state">{{
          'DATASELECTION.EDITOR.DISPLAY.NO_FIELDS' | translate
        }}</span>
      </ng-container>
    </div>
  </div>
  <div class="card-col">
    <div class="label-with-info">
      <span class="num-text-accent">{{
        'DATASELECTION.EDITOR.DISPLAY.APPLIED_FILTER' | translate
      }}</span>
      <span
        class="info-icon"
        numInfoTooltip
        [infoTooltipTitle]="'DATASELECTION.EDITOR.DISPLAY.APPLIED_FILTER_TOOLTIP_TITLE' | translate"
        [infoTooltipText]="'DATASELECTION.EDITOR.DISPLAY.APPLIED_FILTER_TOOLTIP_TEXT' | translate"
      ></span>
    </div>
    <div class="filter-chips-container">
      <ng-container *ngIf="filtersFilterChips$ | async as chips">
        <num-filter-chips *ngIf="chips.length > 0" [filterChips]="chips"></num-filter-chips>
        <span *ngIf="!chips.length" class="empty-state">{{
          'DATASELECTION.EDITOR.DISPLAY.NO_FILTERS' | translate
        }}</span>
      </ng-container>
    </div>
  </div>
  <div *ngIf="isReferenced" fxLayout="column" class="reference-container">
    <div class="label-with-info">
      <span class="num-text-accent">{{
        'DATASELECTION.EDITOR.DISPLAY.REFERENCE' | translate
      }}</span>
      <span
        class="info-icon"
        numInfoTooltip
        [infoTooltipTitle]="'DATASELECTION.EDITOR.DISPLAY.REFERENCE_TOOLTIP_TITLE' | translate"
        [infoTooltipText]="'DATASELECTION.EDITOR.DISPLAY.REFERENCE_TOOLTIP_TEXT' | translate"
      ></span>
    </div>
    <div class="reference-toggle-row">
      <ng-container>
        <div
          class="reference-toggle"
          [class.reference-toggle--active]="profile.getReference().getIsReferenceSet()"
        >
          <num-checkbox
            [disabled]="!isEditable"
            [checked]="profile.getReference().getIsReferenceSet()"
            (checkedChange)="toggleIsReferenceSet(profile.getReference())"
          ></num-checkbox>
          <span class="reference-toggle-text">{{
            'DATASELECTION.EDITOR.DISPLAY.REFERENCE' | translate
          }}</span>
        </div>
      </ng-container>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" class="menu-box">
    <num-menu [menuItems]="menuItems" [id]="profile.getId()"></num-menu>
  </div>
</div>
<ng-container
  *ngIf="unlinkedRequiredOrRecommendedReferences.length > 0 || selectedReferenceFields.length > 0"
>
  <num-linked-badge></num-linked-badge>
</ng-container>

<ng-container *ngIf="unlinkedRequiredOrRecommendedReferences.length > 0">
  <div
    *ngFor="let reference of unlinkedRequiredOrRecommendedReferences"
    class="selection-box-container"
  >
    <num-profile-reference-tile
      [unlinkedRequiredOrRecommendedReferences]="reference"
      [parentId]="profile.getId()"
      (deleteTrigger)="updateRequiredOrRecommendedReferences()"
    >
    </num-profile-reference-tile>
  </div>
</ng-container>
<ng-container *ngIf="selectedReferenceFields.length > 0">
  <div *ngFor="let selectedReference of selectedReferenceFields" class="selection-box-container">
    <num-profile-reference-tile
      [filterChips]="profileRefrenceChips"
      [referenceField]="selectedReference"
      [parentId]="profile.getId()"
    ></num-profile-reference-tile>
  </div>
</ng-container>
