:host {
  --primary-light: rgba(90, 121, 175, 0.1);
}

.criterion-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 0;
  min-width: 0;
  gap: 8px;
  padding: 0 1%;
  color: var(--color-text-primary);
  overflow: hidden;
  border-right: 4px solid var(--primary-light);
}

.information-display {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--color-text-secondary);
  font-size: 0.9em;
}
