@if (savedQuery()) {
<div class="container saved-query-tile">
  <div class="tile-col tile-main">
    <div class="label text-overflow">
      <span matTooltipPosition="below" [matTooltip]="savedQuery().label">
        {{ savedQuery().label }}
      </span>
    </div>
    @if (savedQuery().comment) {
    <div class="comment text-overflow">
      <span matTooltipPosition="below" [matTooltip]="savedQuery().comment">
        {{ savedQuery().comment }}
      </span>
    </div>
    }
  </div>
  <div class="tile-col tile-date">
    {{ ('SAVED_QUERIES.CREATED_AT' | translate) + ' ' + (savedQuery().date | date : 'dd.MM.yyyy') }}
  </div>
  <div class="tile-col tile-patients">
    {{ 'SAVED_QUERIES.PATIENTS' | translate }} {{ savedQuery().totalNumberOfPatients }}
  </div>
  <div class="tile-col tile-action">
    <num-button type="green" (click)="onNavigate(savedQuery()?.id)">
      {{ 'SAVED_QUERIES.LOAD' | translate }}
    </num-button>
  </div>
  <div class="tile-col tile-close">
    <button
      type="button"
      class="delete-button"
      numDataCy="saved-query-delete-icon"
      [attr.aria-label]="'SAVED_QUERIES.DELETE' | translate"
      [matTooltip]="'SAVED_QUERIES.DELETE' | translate"
      (click)="onDelete(savedQuery().id)"
    >
      <fa-icon icon="times" [fixedWidth]="true"></fa-icon>
    </button>
  </div>
</div>
}
