<div class="container saved-query-tile" *ngIf="savedQuery">
  <div class="tile-col tile-main">
    <div class="label text-overflow">
      <span matTooltipPosition="below" [matTooltip]="savedQuery.label">
        {{ savedQuery.label }}
      </span>
    </div>
    <div *ngIf="savedQuery.comment" class="comment text-overflow">
      <span matTooltipPosition="below" [matTooltip]="savedQuery.comment">
        {{ savedQuery.comment }}
      </span>
    </div>
  </div>
  <div class="tile-col tile-date">
    {{ ('SAVED_QUERIES.CREATED_AT' | translate) + ' ' + (savedQuery.date | date : 'dd.MM.yyyy') }}
  </div>
  <div class="tile-col tile-patients">
    {{ 'SAVED_QUERIES.PATIENTS' | translate }} {{ savedQuery.totalNumberOfPatients }}
  </div>
  <div class="tile-col tile-action">
    <num-button type="blue" (click)="onNavigate(savedQuery?.id)">
      {{ 'SAVED_QUERIES.LOAD' | translate }}
    </num-button>
  </div>
  <div class="tile-col tile-close">
    <fa-icon
      class="pointer close-icon"
      icon="times"
      (click)="onDelete(savedQuery.id)"
      [fixedWidth]="true"
    ></fa-icon>
  </div>
</div>
