/* You can copy or customize styles as needed for the reference list */
.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: var(--spacing-16);
}
.reference-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-8);
}
.delete-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
