<div class="filter-container">
  @for (searchFilter of searchFilters$ | async; track trackByFilterType($index, searchFilter)) {
  <num-search-filter
    [filter]="searchFilter"
    (selectedFilterChanged)="filterChanged.emit($event)"
    (isOpen)="isOpen.emit($event)"
  ></num-search-filter>
  }
  <span
    class="info-icon"
    numInfoTooltip
    [infoTooltipTitle]="'FEASIBILITY.SEARCH.TOOLTIP_TITLE' | translate"
    [infoTooltipText]="'FEASIBILITY.SEARCH.INFO_TOOLTIP' | translate"
  ></span>
</div>
