<div class="filter-section">
  <div class="filter-heading">
    <num-section-name>{{ 'FEASIBILITY.SEARCH.FILTER_HEADING' | translate }}</num-section-name>
    <span
      class="filter-heading__info"
      numInfoTooltip
      [infoTooltipTitle]="'FEASIBILITY.SEARCH.TOOLTIP_TITLE' | translate"
      [infoTooltipText]="'FEASIBILITY.SEARCH.INFO_TOOLTIP' | translate"
      [infoTooltipPosition]="'bottom'"
    ></span>
  </div>
  <div class="filter-container">
    @for (searchFilter of searchFilters(); track trackByFilterType($index, searchFilter)) {
    <num-search-filter
      [filter]="searchFilter"
      (filterChange)="onFilterChange($event)"
      (isOpen)="onFilterOpen($event)"
    ></num-search-filter>
    }
  </div>
</div>
