.link-field-container {
  display: flex;
  justify-content: start;
  align-items: center;
  background: rgba(0, 0, 0, 0.02);
  padding: var(--spacing-10) 16px;
  margin: var(--spacing-8) 0;
  border-radius: var(--border-radius-card);
  font-family: var(--font-body);
}

.link-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
