<div class="container">
  <num-criterion-header [criterion]="criterion" class="header-container"> </num-criterion-header>
  @if (templates.length > 0) {
  <num-filter-tabs class="filter-tabs-container" [content]="templates"></num-filter-tabs>
  }

  <ng-template #timeRestriction>
    <num-edit-time-restriction
      [timeRestriction]="criterion.getTimeRestriction()"
      (timeRestrictionChanged)="updateTimeRestriction($event)"
    ></num-edit-time-restriction>
  </ng-template>

  <ng-template #conceptAttributeFilterTemplate let-index>
    <div class="width-100">
      <num-concept
        [conceptFilter]="conceptAttributeFilter[index].getConcept()"
        (changedConceptFilter)="updateConceptAttributeFilter($event, conceptAttributeFilter[index])"
      >
      </num-concept>
    </div>
  </ng-template>

  <ng-template #conceptValueFiltersTemplate>
    <div class="width-100">
      <num-concept
        [conceptFilter]="conceptValueFilter[0].getConcept()"
        (changedConceptFilter)="updateConceptValueFilter($event, conceptValueFilter[0])"
      >
      </num-concept>
    </div>
  </ng-template>

  <ng-template #termCodes>
    <num-edit-termcode
      class="height-100"
      [termCodes]="criterion.getTermCodes()"
      [context]="criterion.getContext()"
      (changedTermCodes)="updateTermCodes($event)"
    >
    </num-edit-termcode>
  </ng-template>

  <ng-template #reference>
    @for (attributeFilter of referenceFilter; track trackByAttributeCode($index, attributeFilter)) {
    <div class="background">
      @if (attributeFilter.getReference()) {
      <num-reference
        [attributeCode]="attributeFilter.getAttributeCode()"
        [selectedReferenceCriterion]="resolveReferenceCriteria(attributeFilter)"
        [referenceFilterUri]="attributeFilter.getReference().getAllowedReferenceUri()"
        (selectedReferenceIds)="updateReferenceFilter($event, attributeFilter)"
        (changedSelectedReferences)="updateSelectedReferences(attributeFilter, $event)"
      >
      </num-reference>
      }
    </div>
    }
  </ng-template>

  <ng-template #quantityAttributeFilterTemplate>
    @for (quantityFilter of quantityAttributeFilter; track quantityFilter) {
    <div class="background">
      @if (quantityFilter) {
      <num-quantity
        (quantityFilterChange)="updateQuantityAttributeFilter($event, quantityFilter)"
        [quantityFilter]="quantityFilter.getQuantity()"
        [display]="quantityFilter.getDisplay()"
        [attr.data-cy]="quantityFilter.getDisplay() | displayTranslation"
      ></num-quantity>
      }
    </div>
    }
  </ng-template>

  <ng-template #quantityValueFilterTemplate>
    @for (quantityFilter of quantityValueFilter; track quantityFilter) {
    <div class="background">
      @if (quantityFilter) {
      <num-quantity
        (quantityFilterChange)="updateQuantityValueFilter($event)"
        [quantityFilter]="quantityFilter.getQuantity()"
        [display]="quantityFilter.getDisplay()"
        [attr.data-cy]="quantityFilter.getDisplay() | displayTranslation"
      ></num-quantity>
      }
    </div>
    }
  </ng-template>
</div>
