.error-log-content {
  background: white;
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.error-summary {
  margin: var(--spacing-8) 0;
  padding: var(--spacing-16);
  background: #fff3cd;
  border-left: 4px solid #ffc107;
  border-radius: 5px;
}

.error-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  gap: 1rem;
}
