<div class="container">
  <div>
    <div class="header-container">
      <num-header [showToggle]="true">{{ 'FEASIBILITY.SEARCH.HEADER' | translate }}</num-header>
      <div class="margin-left-auto">
        <num-search-mode-toggle (modeChange)="searchModeChange($event)"></num-search-mode-toggle>
      </div>
    </div>
    <num-header-description>
      {{ 'FEASIBILITY.SEARCH.HEADER_INFO' | translate }}
    </num-header-description>
  </div>

  <num-criteria-search-bar
    [searchText$]="searchText$"
    [searchText]="searchText"
    [resetFilterEnabled$]="resetFilterEnabled$"
    (searchChanged)="startSearch($event)"
    (filterReset)="resetFilter()"
  ></num-criteria-search-bar>

  <num-criteria-search-filter-bar
    [searchFilters$]="searchFilters$"
    [resetFilterEnabled$]="resetFilterEnabled$"
    (filterChanged)="setElasticSearchFilter($event)"
    (filterReset)="resetFilter()"
  ></num-criteria-search-filter-bar>

  <div class="result-container">
    <num-criteria-search-results
      #searchResults
      [listItems]="listItems"
      [adaptedData]="adaptedData"
      [selectedDetails$]="selectedDetails$"
      [searchText$]="searchText$"
      [searchResultsFound]="searchResultsFound"
      (selectedRow)="setSelectedRowItem($event)"
      (rowClicked)="setClickedRow($event)"
      (loadMore)="loadMoreCriteriaSearchResults()"
      (selectedRelative)="getSelectedRelative($event)"
    ></num-criteria-search-results>
  </div>

  <div>
    <num-search-action-bar></num-search-action-bar>
  </div>
</div>
