.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header-container {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.result-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.mat-mdc-icon-button {
  height: 44px;
  width: 44px;
  line-height: unset;
  color: var(--num-color--primary);
}

.filter-chips {
  display: flex;
}

.details-panel {
  height: 96%;
}
