.label-value-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .label {
    margin: 0 0 var(--spacing-xs, 4px) 4px;
    padding: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;

    color: var(--color-accent);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold, 400);
  }

  .value {
    display: flex;
    align-items: center;
    gap: 4px;

    color: var(--color-accent);
    font-size: var(--font-size-sm);
  }
}

.link-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  min-height: 67px;
  margin-top: -11px;
  padding: 10px 16px;

  background: rgb(157 161 166 / 10%);
  border-radius: var(--border-radius-card);
  font-family: var(--font-body);
}

.link-info {
  display: flex;
  align-items: center;
  gap: 4%;

  flex: 1;
  min-width: 0;

  color: var(--color-accent);
  font-size: var(--font-size-md);
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  .icon {
    color: var(--color-accent);
  }
}

.arrow-icon {
  transform: translateY(-1px);

  color: var(--color-accent);
  font-size: 12px;
  font-weight: 300;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  color: var(--color-text-secondary);
  font-family: var(--font-body);
  font-size: var(--font-size-md);
}

.placeholder {
  width: 85px;
}

.missing-filter-border {
  flex: 1;
}
