<div class="link-field-container">
  <div class="link-info">
    <div class="label-value-group">
      <div class="label plain-label">
        {{ 'SHARED_COMPONENTS.REFERENCE_TILE.LINK_FIELD_LABEL' | translate }}
      </div>
      <span class="value">{{ display() | displayTranslation }} ({{ elementId() }})</span>
    </div>
    <div>
      <fa-icon icon="arrow-right" class="arrow-icon"></fa-icon>
    </div>
    @if (parentProfile) {
    <span class="child-badge">{{ parentProfile.getDisplay() | displayTranslation }}</span>
    } @if (filterChips.length > 0 && !unlinkedRequiredOrRecommendedReferences()) {
    <div class="label-value-group">
      <div class="label">
        {{ 'SHARED_COMPONENTS.REFERENCE_TILE.LINKED_FEATURES_LABEL' | translate }}
      </div>
      <span class="value">
        <num-filter-chips
          [displayBlockTriangle]="false"
          [filterChips]="filterChips"
        ></num-filter-chips>
      </span>
    </div>
    } @if (unlinkedRequiredOrRecommendedReferences()) {
    <span class="warning-badge">
      {{ 'SHARED_COMPONENTS.REFERENCE_TILE.NOTLINKED' | translate }}
      <span
        class="info-icon"
        numInfoTooltip
        [infoTooltipTitle]="'SHARED_COMPONENTS.REFERENCE_TILE.NOTLINKED_TOOLTIP_TITLE' | translate"
        [infoTooltipText]="'SHARED_COMPONENTS.REFERENCE_TILE.NOTLINKED_TOOLTIP_TEXT' | translate"
      ></span>
    </span>
    }
  </div>

  @if (referenceField()) {
  <span class="checkbox-label">
    <num-checkbox
      [checked]="referenceField().getMustHave()"
      (checkedChange)="setMustHave($event)"
      [disabled]="!isEditable()"
    ></num-checkbox>
    <span>
      {{ 'SHARED_COMPONENTS.REFERENCE_TILE.REQUIRED' | translate }}
      <span
        class="info-icon"
        numInfoTooltip
        [infoTooltipTitle]="'SHARED_COMPONENTS.REFERENCE_TILE.REQUIRED_TOOLTIP_TITLE' | translate"
        [infoTooltipText]="'SHARED_COMPONENTS.REFERENCE_TILE.REQUIRED_TOOLTIP_TEXT' | translate"
      ></span>
    </span>
  </span>
  } @if (isEditable()) {
  <num-menu
    [menuItems]="menuItems()"
    [id]="parentId()"
    [args]="{ elementId: this.elementId() }"
  ></num-menu>
  } @else {
  <div class="placeholder"></div>
  }
</div>
