<div class="row-container">
  <num-checkbox
    [matTooltip]="
      !cell().isDisabled
        ? ('SHARED_COMPONENTS.TABLE.NOT_SELECTABLE' | translate)
        : ('SHARED_COMPONENTS.TABLE.SELECT_CHECKBOX' | translate)
    "
    [disabled]="!cell().isDisabled"
    [checked]="cell().isSelected"
    (checkedChange)="onCheckboxChange()"
  ></num-checkbox>
  <div class="name-column highlight" matTooltip="{{ cell().value | displayTranslation }}">
    {{ cell().value | displayTranslation }}
  </div>
</div>
