<num-modal-window
  [disabled]="ids.length === 0"
  (saveButtonSelected)="saveReferenceCriterion()"
  (cancelButtonSelected)="closeDialog()"
>
  @for (attributeFilter of referenceFilter; track attributeFilter) {
  <div class="background">
    @if (attributeFilter.getReference()) {
    <num-reference
      [attributeCode]="attributeFilter.getAttributeCode()"
      [referenceFilterUri]="attributeFilter.getReference().getAllowedReferenceUri()"
      (selectedReferenceIds)="setSelectedReferenceIds($event, attributeFilter)"
    >
    </num-reference>
    }
  </div>
  } @for (valueFilter of criterion.getValueFilters(); track valueFilter) {
  <div class="background">
    @if (valueFilter.getReference()) {
    <num-reference [referenceFilter]="valueFilter.getReference()"> </num-reference>
    }
  </div>
  }
</num-modal-window>
