@if (timeRestriction()) {
<div [@.disabled]="disableAnimation" class="time-restriction-wrapper">
  <span class="section-label">
    {{ 'SHARED_FILTER.TIMERESTRICTION.TITLE' | translate }}
  </span>
  <div class="time-restriction-row">
    <!--Time restriction Filter type-->
    <num-timerestriction-type-selector
      [type]="timeRestriction().getType()"
      (timeRestrictionTypeChanged)="onTimeRestrictionOptionChange($event)"
    >
    </num-timerestriction-type-selector>
    <!--Between Filter-->
    @if (selectedTimeRestrictionType() === 'BETWEEN') {
    <num-between-filter
      class="fill"
      (betweenFilterChanged)="emitSelectedTimeRestrictionInstance($event)"
      [betweenFilter]="timeRestriction()"
    ></num-between-filter>
    }
    <!--After, At, Before Filter-->
    @if (selectedTimeRestrictionType() !== 'BETWEEN' && selectedTimeRestrictionType() !== 'NONE') {
    <num-before-filter
      class="fill"
      [timeRestrictionType]="selectedTimeRestrictionType()"
      [selectedDate]="timeRestriction().getAfterDate()"
      (timeRestrictionInstanceChanged)="emitSelectedTimeRestrictionInstance($event)"
    ></num-before-filter>
    }
  </div>
</div>
}
