.section-label {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  color: var(--color-text-secondary);
  margin-bottom: 8px;
}

.time-restriction-wrapper {
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
  align-self: center;
}

.time-restriction-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.fill {
  flex: 1;
}
