<div *ngIf="timeRestriction" [@.disabled]="disableAnimation" class="time-restriction-wrapper">
  <span class="section-label">
    {{ 'SHARED_FILTER.TIMERESTRICTION.TITLE' | translate }}
  </span>
  <div class="time-restriction-row">
    <!--Time restriction Filter type-->
    <num-timerestriction-type-selector
      [type]="this.timeRestriction.getType()"
      (timeRestrictionTypeChanged)="onTimeRestrictionOptionChange($event)"
    >
    </num-timerestriction-type-selector>

    <!--Between Filter-->
    <ng-container *ngIf="selectedTimeRestrictionType === 'BETWEEN'">
      <num-between-filter
        class="fill"
        (betweenFilterChanged)="emitSelectedTimeRestrictionInstance($event)"
        [betweenFilter]="timeRestriction"
      ></num-between-filter>
    </ng-container>

    <!--After, At, Before Filter-->
    <ng-container
      *ngIf="selectedTimeRestrictionType !== 'BETWEEN' && selectedTimeRestrictionType !== 'NONE'"
    >
      <num-before-filter
        class="fill"
        [timeRestrictionType]="selectedTimeRestrictionType"
        [selectedDate]="timeRestriction.getAfterDate()"
        (timeRestrictionInstanceChanged)="emitSelectedTimeRestrictionInstance($event)"
      ></num-before-filter>
    </ng-container>
  </div>
</div>
