.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.background {
  background-color: var(--color-accent-bg);
  padding: 1%;
  overflow: auto;
  flex: 1;
  box-shadow: var(--shadow-card);
  border-radius: var(--border-radius-sm);
}
