<div class="container">
  <div class="background margin-bottom-3">
    @if (criterion$ | async; as criterion) {
    <num-editor-content [criterion]="criterion"></num-editor-content>
    } @if (dataSelectionProfile$ | async; as dataSelectionProfile) {
    <num-editor-content [dataSelectionProfile]="dataSelectionProfile"></num-editor-content>
    } @if (referenceCriterion$ | async; as referenceCriterion) {
    <num-editor-content [referenceCriterion]="referenceCriterion"></num-editor-content>
    }
  </div>

  <num-edit-action-bar (cancelled)="onCancel()"></num-edit-action-bar>
</div>
