.container {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid rgba(155, 184, 35, 1);
  background-color: rgba(155, 184, 35, 0.1);
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.right {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.padding-left-right-5px {
  padding-left: 16px;
  padding-right: 16px;
}
.container > * {
  flex: 0 0 auto; /* <-- prevents shrinking, allows overflow */
}

.file-input {
  display: none;
}
