<div class="container padding-left-right-5px">
  @if (showUpload()) {
  <input
    [attr.data-cy]="'upload-crtdl'"
    type="file"
    class="file-input"
    (change)="upload($event)"
    #fileUpload
  />
  <button
    (click)="fileUpload.click()"
    [matTooltip]="
      uploadDisabled
        ? ('SHARED_COMPONENTS.ACTION_BAR.UPLOAD_DISABLED' | translate)
        : ('SHARED_COMPONENTS.ACTION_BAR.UPLOAD' | translate)
    "
    type="button"
    class="num-button green icon"
    [class.disabled]="uploadDisabled"
    [disabled]="uploadDisabled"
  >
    <fa-icon size="lg" [icon]="'upload'"></fa-icon>
  </button>
  } @if (showDownload()) {
  <button
    (click)="downloadCRTDL()"
    [matTooltip]="
      isDataDefinitionValid()
        ? ('SHARED_COMPONENTS.ACTION_BAR.DOWNLOAD' | translate)
        : ('SHARED_COMPONENTS.ACTION_BAR.DOWNLOAD_DISABLED' | translate)
    "
    type="button"
    class="num-button green icon"
    [class.disabled]="!isDataDefinitionValid()"
    [disabled]="!isDataDefinitionValid()"
  >
    <fa-icon size="lg" [icon]="'download'"></fa-icon>
  </button>
  } @if (showSave()) {
  <button
    (click)="onSaveDataQuery()"
    [matTooltip]="
      isDataDefinitionValid()
        ? ('SHARED_COMPONENTS.ACTION_BAR.SAVE' | translate)
        : ('SHARED_COMPONENTS.ACTION_BAR.DOWNLOAD_DISABLED' | translate)
    "
    type="button"
    class="num-button green icon"
    [class.disabled]="!isDataDefinitionValid()"
    [disabled]="!isDataDefinitionValid()"
  >
    <fa-icon size="lg" [icon]="'save'"></fa-icon>
  </button>
  }

  <!--<button
    type="button"
    class="num-button icon"
    (click)="openValidationModal()"
    [class.green]="isDataDefinitionValid()"
    [class.red]="!isDataDefinitionValid()"
    [matTooltip]="
      (isDataDefinitionValid()
        ? 'SHARED_COMPONENTS.ACTION_BAR.VALID_DATA_DEFINITION_TOOLTIP'
        : 'SHARED_COMPONENTS.ACTION_BAR.INVALID_DATA_DEFINITION_TOOLTIP'
      ) | translate
    "
  >
    <fa-icon size="lg" [icon]="isDataDefinitionValid() ? 'check' : 'exclamation'"></fa-icon>
  </button>-->
  <div class="right">
    <ng-content></ng-content>
  </div>
</div>
