.container {
  height: 100%;
  width: 100%;
}

.mat-expansion-panel-header-title {
  font-size: 16px;
  font-weight: normal;
}

.mat-expansion-panel-header {
  height: 48px;
}

.mat-expansion-panel-header:hover {
  background-color: rgb(90, 121, 175, 0.1);
}
::ng-deep num-concept .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.token-filter {
  height: 100%;
}

.token-filter-container {
  height: 100%;
  width: 100%;
  background-color: white;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  font-weight: 500;
  font-size: medium;
  color: rgba(90, 121, 175, 1);
}
.information-icon {
  margin-right: 8px;
}
