::ng-deep .mdc-tab {
  max-width: fit-content;
  padding: 0 var(--spacing-30);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: var(--spacing-16);
}

.reference-container {
  flex: 1;
  overflow: auto;
}

.button-footer {
  display: flex;
  align-items: center;
  padding-top: 2%;
}
