/* Table base */
table {
  width: 100%;
  table-layout: fixed;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-color: #fff;
  border-radius: 5px;
  border-collapse: collapse;
}
