/* Table base */
table {
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  color: #6a7484;
  background-color: #fff;
  border-radius: 4px;
  border-collapse: collapse;
}

.font-size-small {
  font-size: 14px;
  color: #6a7483;
}
