@use 'node_modules/@angular/material' as mat;
@mixin color-classes_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  .num-fg-color {
    &--primary {
      color: mat.m2-get-color-from-palette($primary);
    }
    &--accent {
      color: mat.m2-get-color-from-palette($accent);
    }
    &--warn {
      color: mat.m2-get-color-from-palette($warn);
    }
    &--disabled {
      color: var(--color-text-secondary);
    }
  }

  .num-bg-color {
    &--primary {
      background: mat.m2-get-color-from-palette($primary);
    }
    &--accent {
      background: mat.m2-get-color-from-palette($accent);
    }
    &--warn {
      background: mat.m2-get-color-from-palette($warn);
    }
    &--disabled {
      background: var(--color-text-secondary);
    }
  }
}
