.header-description {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #325a7e;
  overflow: hidden;
  max-height: 200px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 1;

  &.hidden {
    max-height: 0;
    opacity: 0;
  }
}
