<div class="criteria-container">
  @if (!isEditable()) {
  <div class="lock-div"></div>
  }
  <ng-container #outlet [ngTemplateOutlet]="content"> </ng-container>
  <ng-template #content>
    @for ( criterionInnerArray of criteriaArray$ | async; track criterionInnerArray; let lastOuter =
    $last; let i = $index) {
    <div>
      @for (criterion of criterionInnerArray; track criterion; let lastInner = $last; let j =
      $index) {
      <div style="display: flex; flex-direction: column; align-items: center">
        <num-criteria-box
          [criterion]="criterionProvider.getOne(criterion)"
          [isEditable]="isEditable()"
        ></num-criteria-box>
        <ng-container>
          @if (!lastInner) {
          <num-bool-logic-switch
            style="display: block; height: 0px"
            [position]="'inner'"
            [label]="getInnerLabelKey()"
            (switched)="splitInnerArray(i, j)"
          ></num-bool-logic-switch>
          }
        </ng-container>
      </div>
      }
      <div style="display: flex; justify-content: center">
        @if (!lastOuter) {
        <num-bool-logic-switch
          style="display: block; height: 0px; margin-bottom: 27px"
          [position]="'outer'"
          [label]="getOuterLabelKey()"
          (switched)="joinInnerArrays(i)"
        ></num-bool-logic-switch>
        }
      </div>
    </div>
    }
  </ng-template>
  @if ((criteriaArray$ | async).length === 0 && isEditable()) {
  <div class="no-selected-criteria">
    <div class="wrapper">
      <div class="wrapper-solid-dashed-box">
        <div class="solid-box">
          <fa-icon class="icon drag-handle" size="m" icon="expand-arrows-alt"></fa-icon>
        </div>
        <div class="dashed-box"></div>
      </div>
      <div class="text-wrapper">{{ 'FEASIBILITY.EDITOR.DRAG_AND_DROP' | translate }}</div>
    </div>
  </div>
  }
</div>
