:host {
  display: block;
  width: 100%;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.searchbar {
  flex: 0 1 44%;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
