// Layout Containers
.display-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 1%;
  color: var(--color-text-primary);
  border-right: 1px solid var(--border-color);
}

.display-container > span {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-clamp: 6;
  overflow: hidden;
}
