<mat-tab-group
  class="height-100"
  animationDuration="0ms"
  disableRipple="true"
  mat-stretch-tabs="false"
  [selectedIndex]="1"
>
  <mat-tab label="{{ 'INFORMATION.FIELD.TITLE' | translate }}">
    <num-information-section>
      <span slot="title">{{ 'INFORMATION.FIELD.TITLE' | translate }}</span>
      {{ 'INFORMATION.FIELD.DESCRIPTION' | translate }}
    </num-information-section>
  </mat-tab>

  <mat-tab label="{{ 'EDITOR.CONTENT.PROFILE.FIELDS.TITLE' | translate }}">
    <div class="container">
      <div class="main-content-fields">
        <div class="field-box">
          @for (singleTree of tree; track singleTree) {
          <div>
            <num-tree
              [treeData]="singleTree"
              (selectedCheckbox)="setSelectedFieldElement($event)"
            ></num-tree>
          </div>
          }
        </div>
        @if (selectedBasicFields()) {
        <div class="sidebar">
          <num-section-name>
            {{ 'EDITOR.CONTENT.PROFILE.FIELDS.REQUIRED' | translate }}
          </num-section-name>
          <div class="selected-fields-box">
            @for (selectedField of localSelectedBasicFields; track selectedField.getElementId(); let
            index = $index) {
            <div class="selected-filter-container">
              <div>
                <num-checkbox
                  [checked]="selectedField.getMustHave()"
                  (checkedChange)="setFieldAsRequired(selectedField)"
                ></num-checkbox>
              </div>
              <div class="display-part">
                <span
                  class="field-name"
                  matTooltipPosition="below"
                  matTooltipShowDelay="300"
                  [matTooltip]="selectedField.getDisplay() | displayTranslation"
                >
                  {{ selectedField.getDisplay() | displayTranslation }}
                </span>
                @if (selectedField.getDescription() | displayTranslation) {
                <span class="field-description">
                  {{ selectedField.getDescription() | displayTranslation }}
                </span>
                }
              </div>
              @if (!selectedField.getIsRequired()) {
              <fa-icon
                [icon]="'times'"
                size="1x"
                (click)="removeSelectedField(selectedField)"
                class="delete-button"
              ></fa-icon>
              }
            </div>
            }
          </div>
        </div>
        }
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
