<div cdkDrag class="container criteria-box-row">
  <div class="content criteria-box-main">
    <div
      matTooltipPosition="below"
      [matTooltip]="referenceCriterion.getDisplay() | displayTranslation"
      class="title-section"
    >
      {{ referenceCriterion.getDisplay() | displayTranslation }}
    </div>
    <div class="info-section criteria-box-info">
      <div class="info-item">
        {{ referenceCriterion.getDisplay() | displayTranslation }},
        {{ referenceCriterion.getTermCodes()[0].getCode() }},
        {{ translatedSystem | displayTranslation }}
      </div>
    </div>
    <div class="filter-chips-container">
      <num-filter-chips [filterChips]="$filterChips | async"></num-filter-chips>
    </div>
  </div>
  <div class="handle-icons criteria-box-menu">
    <num-menu [menuItems]="menuItems" [id]="referenceCriterion.getId()"></num-menu>
  </div>
</div>
