:host {
  display: block;
  width: 100%;
}

.search-bar-container {
  display: flex;
  justify-content: start;
  width: 100%;
}

.searchbar {
  flex: 0 1 44%;
}

.search-button-wrapper {
  padding-left: 16px;
}
