<div class="search-bar-container">
  <num-searchbar
    class="searchbar"
    icon="search"
    [searchText]="searchText()"
    [label]="'FEASIBILITY.SEARCH.SEARCHBAR'"
    (searchTextChange)="onSearchTextChange($event)"
  ></num-searchbar>
  <!--<div class="search-button-wrapper">
    <num-button [isDisabled]="!localSearchText()" type="blue" (click)="onSearch()">
      {{ 'FEASIBILITY.SEARCH.SEARCH_BUTTON' | translate }}
    </num-button>
    <num-button [isDisabled]="resetFilterEnabled()" type="blue" (click)="resetFilter()">
      {{ 'FEASIBILITY.SEARCH.BUTTON.RESET' | translate }}
    </num-button>
  </div>-->
</div>
