:host {
  display: block;
  width: 100%;
}

.search-bar-container {
  display: flex;
  justify-content: start;
  width: 100%;
  flex-direction: column;
}

.searchbar {
  flex: 0 1 44%;
}

.search-button-wrapper {
  display: flex;
  gap: 8px;
  padding-left: 16px;
  padding-top: 1px;
}
