.toggle-container {
  display: flex;
  align-items: center;
  font-family: var(--font-body);
  background-color: white;
  width: 100px;
  border-radius: 2px;
}

.selected-label {
  font-size: 18px;
  color: var(--color-accent);
}

.unselected-label {
  font-size: 18px;
  color: var(--border-color);
}
