.warning-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.img-layout {
  height: 24px; /* multiple of 4 */
  width: 32px; /* multiple of 4 */
  margin-right: 8px;
}

.warning-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
  line-height: 24px;
  font-style: italic;
  cursor: pointer;
}
.warning-message:hover {
  text-decoration: underline;
}
