<div class="container">
  <div class="search-container">
    <textarea
      class="input-field-area"
      matNativeControl
      type="text"
      name="searchText"
      rows="5"
      cols="100"
      placeholder="{{ 'FEASIBILITY.BULK_SEARCH.INPUT_PLACEHOLDER' | translate }}"
      [(ngModel)]="bulkSearchTermInput"
    ></textarea>
    <div class="bulk-search-container">
      @if (searchFilter) {
      <div class="filter-section">
        <num-search-filter
          [multiSelect]="false"
          [filter]="searchFilter"
          (filterChange)="setValueSet($event)"
        ></num-search-filter>
      </div>
      }
      <num-button
        [isDisabled]="!selectedValueSet || bulkSearchTermInput.length === 0"
        type="blue"
        (click)="bulkSearch()"
        >Suchen</num-button
      >
    </div>
  </div>
  @if (foundTableData || notFoundTableData) {
  <mat-tab-group
    animationDuration="0ms"
    class="inner-tab-group"
    disableRipple="true"
    mat-stretch-tabs="true"
  >
    <mat-tab
      [label]="'SHARED_FILTER.CONCEPT_FILTER.BULK.FOUND' | translate : { count: foundCount }"
    >
      @if (foundTableData?.body.rows.length > 0) {
      <num-table
        class="result-list-container"
        [tableData]="foundTableData"
        (selectedRow)="addSelectedRow($event)"
      ></num-table>
      }
    </mat-tab>
    <mat-tab
      [label]="'SHARED_FILTER.CONCEPT_FILTER.BULK.NOTFOUND' | translate : { count: notFoundCount }"
    >
      @if (notFoundTableData?.body.rows.length > 0) {
      <num-table class="result-list-container" [tableData]="notFoundTableData"></num-table>
      }
    </mat-tab>
  </mat-tab-group>
  }
</div>
