.selected-concept-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: var(--spacing-16);
}

.concept-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background: rgb(90 120 174 / 10%);
  padding: var(--spacing-12);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  font-size: var(--font-size-md);
  color: #2a3a4b;
  justify-content: space-between;
  height: 56px;
  margin-bottom: var(--spacing-8);
  font-weight: 500;
}

.delete-button {
  width: auto;
  align-self: end;
  border: 0px;
  text-decoration: underline var(--color-accent-strong);
  padding-bottom: var(--spacing-10);
  cursor: pointer;
  background: none;
}
.delete-button:hover {
  color: #2a3a4b;
}
