<div class="container">
  <num-searchbar
    [icon]="'search'"
    (searchTextChange)="searchConcepts($event)"
    [label]="'SHARED_FILTER.CONCEPT_FILTER.SEARCH_PLACEHOLDER'"
  >
  </num-searchbar>

  @if (valueSetUrl()?.length > 1) {
  <num-search-filter
    [filter]="searchFilter()"
    (filterChange)="setValueSet($event)"
  ></num-search-filter>
  } @if (searchResults()) {
  <num-concept-filter-table
    class="overflow"
    [valueSetUrl]="activeUrls()"
    [conceptFilterId]="conceptFilterId()"
    (selectedConcept)="toggleConceptSelection($event)"
  ></num-concept-filter-table>
  }
</div>
