<div class="container">
  <num-searchbar
    [icon]="'search'"
    (searchTextChange)="searchConcepts($event)"
    [label]="'SHARED_FILTER.CONCEPT_FILTER.SEARCH_PLACEHOLDER'"
  >
  </num-searchbar>

  @if (valueSetUrl?.length > 1) {
  <num-search-filter
    [filter]="searchFilter"
    (selectedFilterChanged)="setValueSet($event)"
  ></num-search-filter>
  } @if (searchResults$ | async; as searchResults) {
  <num-concept-filter-table
    class="overflow"
    [valueSetUrl]="valueSetUrl"
    [conceptFilterId]="conceptFilterId"
    (selectedConcept)="toggleConceptSelection($event)"
  ></num-concept-filter-table>
  }
</div>
