<div class="container">
  <textarea
    class="input-field-area"
    name="searchText"
    rows="8"
    placeholder="{{ 'FEASIBILITY.BULK_SEARCH.INPUT_PLACEHOLDER' | translate }}"
    [ngModel]="searchText()"
    (ngModelChange)="searchText.set($event)"
  ></textarea>

  <div class="filter-container">
    <div class="filter-bar">
      @for (filter of searchFilters(); track filter.filterType) {
      <num-search-filter
        [filter]="filter"
        (filterChange)="setElasticSearchFilter($event)"
        [multiSelect]="false"
      ></num-search-filter>
      }
    </div>
    <button
      class="search-button"
      (click)="searchTextOutput.emit(searchText())"
      [disabled]="!canSubmit()"
      matTooltip="{{ 'FEASIBILITY.BULK_SEARCH.SEARCH_BUTTON_TOOLTIP' | translate }}"
    >
      {{ 'FEASIBILITY.SEARCH.SEARCH_BUTTON' | translate }}
    </button>
  </div>
</div>
