<mat-nav-list [ngClass]="{ collapsed: !isSideMenuExpanded }">
  <ng-container *ngFor="let navItem of mainNavItems">
    <a
      class="num-mat-list-item"
      [routerLinkActive]="'num-mat-list-item--active'"
      mat-list-item
      [disableRipple]="true"
      [routerLink]="navItem.routeTo"
      (click)="menuItemClicked($event, navItem)"
      [matTooltip]="!isSideMenuExpanded ? (navItem.translationKey | translate) : null"
      matTooltipPosition="right"
    >
      <fa-icon *ngIf="navItem.icon" size="lg" [fixedWidth]="true" [icon]="navItem.icon"></fa-icon>
      <mat-icon *ngIf="navItem.svgIcon" class="nav-svg-icon" [svgIcon]="navItem.svgIcon"></mat-icon>
      <div class="navItem-font" *ngIf="isSideMenuExpanded">
        {{ navItem.translationKey | translate }}
      </div>
    </a>
  </ng-container>

  <div class="num-logo-row">
    <button
      type="button"
      [attr.aria-label]="'APPLAYOUT.TOGGLE.LABEL' | translate"
      mat-icon-button
      (click)="toggleMenu()"
    >
      <fa-icon *ngIf="isSideMenuExpanded" size="1x" icon="angle-double-left"></fa-icon>
      <fa-icon *ngIf="!isSideMenuExpanded" size="1x" icon="angle-double-right"></fa-icon>
    </button>
  </div>
</mat-nav-list>
