@for (row of rows; track row) {
<tr
  [ngClass]="{ 'clickable-row': row.isClickable }"
  class="table-border height-3-rem table-row-hover"
>
  @for (cell of row.cells; track cell; let j = $index) {
  <td (click)="onRowClick(row)" [ngClass]="{ 'table-row-text-color': j > 0 }">
    <div class="row-container">
      @switch (cell.type) { @case ('checkboxText') {
      <num-checkbox-text-cell
        [cell]="cell"
        (checkboxChange)="onCheckboxSelect(row)"
      ></num-checkbox-text-cell>
      } @case ('availability') {
      <num-availability-cell [cell]="cell"></num-availability-cell>
      } @case ('display') {
      <num-display-cell [cell]="cell"></num-display-cell>
      } @default {
      <num-text-cell [cell]="cell"></num-text-cell>
      } @case ('icon') {
      <num-icon-cell [iconData]="cell" (iconClicked)="onIconClick(row)"></num-icon-cell>
      } }
    </div>
  </td>
  }
</tr>
}
