.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 60em;
  background: #ffffff;
  border-radius: var(--border-radius-card);
  overflow: auto;
  height: 90vh;
}

.content-container {
  height: 100%;
}

.select-button {
  padding-bottom: 16px;
  margin-left: 2%;
  margin-top: 2%;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
