.container {
  margin: var(--spacing-16);
  display: flex;
  flex-direction: column;
  width: 60em;
  background: #ffffff;
  border-radius: var(--border-radius-card);
  overflow: auto;
  height: 90vh;
  width: 60vw;
}

.content-container {
  height: 100%;
  width: 100%;
}

.select-button {
  padding-bottom: var(--spacing-16);
  margin-left: 2%;
  margin-top: 2%;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
