.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.height-59 {
  height: 42px;
  border-radius: var(--border-radius-card);
  background: var(--border-color);
}

.simple-result-container {
  height: 24%;
}

.feasibility-container {
  flex: 1;
  overflow: auto;
}
