:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.date-warning {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #e05050;
  margin-top: 2px;
}
.mat-expansion-panel-header {
  height: 48px;
}
::ng-deep mat-datepicker-content {
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  background: white;
}
::ng-deep .mat-calendar-body-cell-content {
  border-color: transparent;
}
::ng-deep
  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  border-color: #00000061;
}
::ng-deep .mat-calendar-body-selected {
  background-color: var(--num-color--accent-600) !important;
  color: white;
}
::ng-deep
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background-color: var(--num-color--accent-200);
}

.warning {
  color: red;
  padding-left: 3%;
}
