<div>
  @if (valueFilter.isConceptSet()) {
  <num-concept
    [conceptFilter]="valueFilter.getConcept()"
    [display]="valueFilter.getDisplay()"
    [attr.data-cy]="valueFilter.getDisplay() | displayTranslation"
    (changedConceptFilter)="updateConceptFilter($event)"
  ></num-concept>
  } @if (valueFilter.isQuantitySet()) {
  <num-quantity
    (quantityFilterChange)="updateQuantityFilter($event)"
    [quantityFilter]="valueFilter.getQuantity()"
    [display]="valueFilter.getDisplay()"
    [attr.data-cy]="valueFilter.getDisplay() | displayTranslation"
  ></num-quantity>
  }
</div>
