.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.result-text {
  font-size: 16px;
}

::ng-deep .mdc-tooltip__surface {
  max-width: 250px !important;
  font-size: 12px !important;
  box-shadow: 0 11px 15px -4px #0003, 0 24px 38px 5px #00000024, 0 9px 46px 8px #0000001f;
  letter-spacing: 0.5px !important;
}
