.toggle-row {
  margin-bottom: var(--spacing-16);
  width: 50%;
}

.width-30 {
  font-size: var(--font-size-md);
  width: 30%;
}

.provisionCodeDisplay {
  padding: 0.5em;
  background-color: var(--color-accent-bg);
  color: var(--color-accent);
  width: 50%;
}

.consent-container {
  border: 2px solid rgba(241, 242, 243, 1);
  border-radius: var(--border-radius-card);
  padding: 1em;
  background-color: rgba(241, 242, 243, 0.1);
}

.text-blue {
  color: var(--color-accent);
}
