<button
  [matTooltip]="'SHARED_COMPONENTS.MENU.OPTIONS' | translate"
  class="num-button blue icon"
  data-cy="openMenu"
  type="button"
  #menuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="menu"
>
  <fa-icon size="lg" [icon]="'cog'"></fa-icon>
</button>

<mat-menu #menu="matMenu" yPosition="below" xPosition="before">
  <div *ngFor="let item of menuItems; let isLast = last" data-cy="{{ item.label | translate }}">
    <button
      [ngClass]="{ divider: !isLast, 'last-item': isLast }"
      mat-menu-item
      [disabled]="item.disabled"
      (click)="item.action(id)"
    >
      <fa-icon [icon]="item.icon" size="sm" class="icon-color"></fa-icon>
      {{ 'SHARED_COMPONENTS.MENU.' + item.label | translate }}
    </button>
  </div>
</mat-menu>
