<button
  [matTooltip]="'SHARED_COMPONENTS.MENU.OPTIONS' | translate"
  class="num-button blue icon"
  data-cy="openMenu"
  type="button"
  #menuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="menu"
>
  <fa-icon size="lg" [icon]="'cog'"></fa-icon>
</button>

<mat-menu #menu="matMenu" yPosition="below" xPosition="before">
  <div class="options-header" (click)="$event.stopPropagation()">
    {{ 'SHARED_COMPONENTS.MENU.OPTIONS' | translate }}
  </div>
  @for (item of menuItems(); track item; let isLast = $last) {
  <div data-cy="{{ item.label | translate }}">
    <button
      [ngClass]="{
        divider: !isLast,
        'last-item': isLast,
        'menu-item--primary': item.type === 'primary'
      }"
      mat-menu-item
      [disabled]="item.disabled"
      (click)="item.action(id(), args())"
    >
      <fa-icon [icon]="item.icon" size="sm" class="icon-color"></fa-icon>
      {{ 'SHARED_COMPONENTS.MENU.' + item.label | translate }}
    </button>
  </div>
  }
</mat-menu>
