@if (content() && content().length > 0) {
<div class="container">
  <div class="tabs-container">
    @for (item of content(); track item; let i = $index) {
    <div class="tab" [class.active]="selectedIndex === i" (click)="selectedIndex = i">
      @if (item.display) {
      {{ item.display | displayTranslation }}
      } @else {
      {{ 'EDITOR.CONTENT.TAB_LABEL.' + item.name | translate }}
      }
    </div>
    }
  </div>
  <div class="tab-content">
    @for (item of content(); track item; let i = $index) { @if (selectedIndex === i) {
    <ng-container [ngTemplateOutlet]="item.template" [ngTemplateOutletContext]="item.context">
    </ng-container>
    } }
  </div>
</div>
}
