.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  border-radius: 5px 5px 0 0;
  width: 100%;
  margin-bottom: 2px;
}

.tab {
  padding: 8px 24px;
  height: 41px;
  border-radius: 5px 5px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #5a79af;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background: #ffffff;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
}

.tab:last-child {
  margin-right: 0;
}

.tab.active {
  height: 41px;
  opacity: 1;
  background: #ffffff;
  color: #5a79af;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--shadow-card-active);
}

.tab-content {
  height: 100%;
  overflow: auto;
  background: white;
  padding: 0px 8px;
  border-radius: 0 5px 5px 5px;
  box-shadow: var(--shadow-card);
}
