.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
  width: 100%;
  margin-bottom: var(--spacing-2);
}

.tab {
  padding: var(--spacing-8) var(--spacing-24);
  height: 41px;
  border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-accent);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background: #ffffff;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
}

.tab:last-child {
  margin-right: 0;
}

.tab.active {
  height: 41px;
  opacity: 1;
  background: #ffffff;
  color: var(--color-accent);
  border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
  box-shadow: var(--shadow-card-active);
}

.tab-content {
  height: 100%;
  overflow: auto;
  background: white;
  padding: 0px var(--spacing-8);
  border-radius: 0 var(--border-radius-card) var(--border-radius-card) var(--border-radius-card);
  box-shadow: var(--shadow-card);
}
