<tr>
  @for (headerItem of tableData()?.header?.headers; track headerItem; let i = $index) {
  <th [style.width.%]="getWidth(i)">
    <div class="header-cell">
      @if (headerItem.addAllCheckbox) {
      <num-checkbox
        [matTooltip]="'SHARED_COMPONENTS.TABLE.SELECT_CHECKBOX_ALL' | translate"
        [checked]="checkBoxAll"
        (checkedChange)="onCheckboxAllChange()"
      ></num-checkbox>
      }
      {{ 'SHARED_COMPONENTS.TABLE.' + headerItem.label | translate }}
    </div>
  </th>
  }
</tr>
