:host {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.selection-box-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box-container {
  margin-bottom: var(--spacing-10);
}
.profiles-box {
  overflow: auto;
  padding-right: 4rem;
}

.overflow {
  height: 100%;
  overflow: auto;
}

.profiles-container {
  height: 100%;
  overflow: auto;
  margin-bottom: var(--spacing-16);
  gap: 1.5rem;
}
