ul {
  list-style-type: none;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  padding: 0;
}

.tree-section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 8px;
}

.divider {
  border-bottom: 1px solid #f1f2f3;
  width: 100%;
}

.node-row {
  min-height: 50px;
  padding: 4px 0;
}

.node-display-container {
  padding-right: 10px;
  padding-left: 10px;
}

.node-display-container > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #080707;
}

.node-sub-label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #5f6266;
}

span:hover {
  text-decoration: underline;
}

.checkbox-placeholder {
  width: 15px;
  height: 15px;
}

.chevron {
  margin-right: 5px;
}

.tree-node {
  margin-right: 10px;
}

.icon-container {
  cursor: pointer;
  background-color: #5a79af;
  color: white;
  height: 18px;

  &:has(.icon-collapsed) {
    opacity: 0.5;
  }
  width: 18px;
  border-radius: 2px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom checkbox styling moved to global theme: _checkbox.themed.scss */

.tree-checkbox {
  color: black !important;
}

.field-description {
  color: grey;
  font-size: 13px;
  font-style: italic;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.text-oveflow {
  width: 80%;
}

.description-text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 1.5em; /* Height for one line, adjust as needed */
  transition: max-height 0.3s ease;

  &.expanded {
    white-space: normal; /* Allow text wrapping */
    overflow: visible;
    max-height: none; /* Remove height limit */
  }

  &.collapsed {
    white-space: nowrap; /* Keep text in one line when collapsed */
    max-height: 1.5em; /* Height for collapsed version */
  }
}

.data-display {
  cursor: pointer;
  width: fit-content;
}
