<ng-container *ngTemplateOutlet="tree; context: { node: treeData(), level: 0 }"> </ng-container>

<ng-template #tree let-node="node" let-level="level">
  <div
    class="divider"
    [style.marginLeft]="calcMarginLeft(level)"
    [attr.data-cy]="node.data.display | displayTranslation"
  >
    <div class="width-100 node-row">
      @if (node.data.selectable) {
      <num-checkbox
        [disabled]="!node.data.isDisabled"
        [checked]="node?.data.isCheckboxSelected"
        (checkedChange)="checkboxSelected(node)"
        [style.marginLeft]="calcMarginLeftCheckbox(level)"
      ></num-checkbox>
      } @if (node?.children && node.children.length > 0) {
      <div
        class="tree-node"
        [style.marginLeft]="calcMarginLeftTreeNode(level, node.data.selectable)"
      >
        <div (click)="toggleExpand(node)" class="icon-container">
          @if (!isExpanded(node)) {
          <fa-icon icon="minus" class="icon-collapsed"></fa-icon>
          } @if (isExpanded(node)) {
          <fa-icon icon="chevron-up"></fa-icon>
          }
        </div>
      </div>
      }
      <div class="node-display-container width-80">
        <span
          (click)="checkboxSelected(node)"
          class="data-display"
          matTooltipPosition="after"
          matTooltipShowDelay="300"
          [matTooltip]="node.data.display | displayTranslation"
          >{{ node.data.display | displayTranslation }}</span
        >
        @if (node.data.description) {
        <div class="field-description">
          <span class="description-text" [matTooltip]="node.data.description | displayTranslation">
            {{ node.data.description | displayTranslation }}
          </span>
        </div>
        } @if (node.data.displayFieldsInfo?.getOriginals().length > 0) {
        <div class="field-description">
          <span class="description-text" [matTooltip]="node.data.description | displayTranslation">
            {{ node.data.displayFieldsInfo | displayTranslation }}
          </span>
        </div>
        }
      </div>
    </div>
  </div>
  @if (isExpanded(node) && node.children && node.children.length > 0) {
  <ul>
    @for (child of node.children; track child) {
    <li>
      <ng-container
        *ngTemplateOutlet="tree; context: { node: child, level: level + 1 }"
      ></ng-container>
    </li>
    }
  </ul>
  }
</ng-template>
