<div class="container">
  <div>
    <num-header [showToggle]="true">{{ 'DATASELECTION.SEARCH.HEADER' | translate }}</num-header>
    <num-header-description>
      <span
        [innerHTML]="'DATASELECTION.EDITOR.HEADER_INFO' | translate : { email: emailLink }"
      ></span>
    </num-header-description>
  </div>
  <div>
    <num-profile-search-bar (searchTextChange)="onSearchTextChange($event)" />
  </div>

  <div class="result-container">
    <num-profile-search-results [searchText]="searchText()" />
  </div>

  <div>
    <num-profile-search-action-bar></num-profile-search-action-bar>
  </div>
</div>
