.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.background-color-button {
  color: white;
  background-color: #5a79af;
  margin-right: 10px;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
  height: 100%;
}

.tree-container {
  width: 100%;
  overflow: auto;
  height: 100%;
}

.box-container {
  width: 100%;
  margin-top: 30px;
  height: 50%;
}

.margin-right-20 {
  margin-right: 20px;
}
::ng-deep.mat-badge-content {
  border: 1px solid var(--num-color--primary-green);
  color: var(--num-color--primary-green);
  background-color: white;
  width: 26px !important;
  height: 26px !important;
  border-radius: 25%;
}

.result-container {
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
