<div class="mode-toggle" role="tablist" aria-label="Search mode selection">
  <button
    type="button"
    class="mode-toggle__option"
    role="tab"
    [class.mode-toggle__option--active]="selectedMode() === 'search'"
    [attr.aria-selected]="selectedMode() === 'search'"
    (click)="onModeChange('search')"
  >
    <fa-icon icon="search"></fa-icon>
    <span>{{ 'FEASIBILITY.SEARCH.SINGLE_SEARCH' | translate }}</span>
  </button>

  <button
    type="button"
    class="mode-toggle__option"
    role="tab"
    [class.mode-toggle__option--active]="selectedMode() === 'bulk-search'"
    [attr.aria-selected]="selectedMode() === 'bulk-search'"
    (click)="onModeChange('bulk-search')"
  >
    <fa-icon icon="clipboard-list"></fa-icon>
    <span>{{ 'FEASIBILITY.SEARCH.BULK_SEARCH' | translate }}</span>
  </button>
</div>
