<num-modal-window [displaySaveButtons]="false">
  <div class="modal-container">
    <div class="modal-header">
      <num-header>Validation Status</num-header>
      <num-header-description>
        Overview of the current data definition validation
      </num-header-description>
    </div>

    <div class="tab-container">
      <mat-tab-group
        (selectedIndexChange)="activeTab.set($event === 0 ? 'feasibility' : 'dataSelection')"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-header">
              <span class="tab-title">Feasibility Query</span>
              <div
                class="summary-status"
                [class.status-valid]="fqIsValid()"
                [class.status-invalid]="!fqIsValid()"
              ></div>
              <span class="summary-count">( {{ fqValidCount() }} criteria invalid )</span>
            </div>
          </ng-template>
          <div class="table-container">
            <num-table [tableData]="fqTableData()"></num-table>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-header">
              <span class="tab-title">Data Selection</span>
              <div
                class="summary-status"
                [class.status-valid]="dsIsValid()"
                [class.status-invalid]="!dsIsValid()"
              >
                <fa-icon [icon]="dsIsValid() ? 'check-circle' : 'times-circle'"></fa-icon>
                <span>{{ dsIsValid() ? 'Valid' : 'Invalid' }}</span>
              </div>
              <span class="summary-count">
                ( {{ dsValidCount() }} / {{ dsTotalCount() }} ) profiles valid
              </span>
            </div>
          </ng-template>
          <div class="table-container">
            <num-table [tableData]="dsTableData()"></num-table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="modal-footer">
      <num-button (click)="close()">Close</num-button>
    </div>
  </div>
</num-modal-window>
