name: Build and Release CI

on:
  push:
    branches:
    - main
    - bugfix/**
    - feature/**
    tags:
    - v[0-9]+.[0-9]+.[0-9]+**
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-node@v6
      with:
        node-version: '22'

    - name: Install Dependencies
      run: npm install

    - name: Run Linter
      run: npm run lint

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: javascript

    - name: Run Tests
      run: |
        export NODE_OPTIONS="--max_old_space_size=4096"

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v4


  release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') || (github.event_name == 'pull_request') }}
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Prepare Version
      id: prep
      run: |
        echo ::set-output name=repository::$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')
        echo ::set-output name=version::${GITHUB_REF#refs/tags/v}

    - name: Login to GitHub Docker Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: docker/Dockerfile
        tags: |
          ${{ startsWith(github.ref, 'refs/tags/v') &&
          format('ghcr.io/{0}:{1}',
          steps.prep.outputs.repository,
          steps.prep.outputs.version) ||
          '' }}
          ${{ startsWith(github.ref, 'refs/tags/v') &&
          format('ghcr.io/{0}:latest',
          steps.prep.outputs.repository) ||
          '' }}
          ${{ github.event_name == 'pull_request' &&
          format('ghcr.io/{0}:pr-{1}',
          steps.prep.outputs.repository,
          github.event.pull_request.number) ||
          ''}}
        push: true
