.loader-container {
  position: relative;
  width: 80px;
  height: 80px;
}

.loader {
  width: 80px;
  height: 80px;
  position: relative;
  animation: rotate 1.2s infinite steps(12);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.dot:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translate(30px);
  opacity: 0.92;
  background: var(--color-accent);
}
.dot:nth-child(2) {
  transform: translate(-50%, -50%) rotate(30deg) translate(30px);
  opacity: 0.84;
  background: var(--color-accent);
}
.dot:nth-child(3) {
  transform: translate(-50%, -50%) rotate(60deg) translate(30px);
  opacity: 0.75;
  background: var(--color-accent);
}
.dot:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg) translate(30px);
  opacity: 0.67;
  background: var(--color-accent);
}
.dot:nth-child(5) {
  transform: translate(-50%, -50%) rotate(120deg) translate(30px);
  opacity: 0.59;
  background: var(--color-accent);
}
.dot:nth-child(6) {
  transform: translate(-50%, -50%) rotate(150deg) translate(30px);
  opacity: 0.51;
  background: var(--color-accent);
}
.dot:nth-child(7) {
  transform: translate(-50%, -50%) rotate(180deg) translate(30px);
  opacity: 0.43;
  background: var(--color-accent);
}
.dot:nth-child(8) {
  transform: translate(-50%, -50%) rotate(210deg) translate(30px);
  opacity: 0.35;
  background: var(--color-accent);
}
.dot:nth-child(9) {
  transform: translate(-50%, -50%) rotate(240deg) translate(30px);
  opacity: 0.26;
  background: var(--color-accent);
}
.dot:nth-child(10) {
  transform: translate(-50%, -50%) rotate(270deg) translate(30px);
  opacity: 0.18;
  background: var(--color-accent);
}
.dot:nth-child(11) {
  transform: translate(-50%, -50%) rotate(300deg) translate(30px);
  opacity: 0.1;
  background: var(--color-accent);
}
.dot:nth-child(12) {
  transform: translate(-50%, -50%) rotate(330deg) translate(30px);
  opacity: 0.05;
  background: var(--color-accent);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: var(--color-text-primary);
  font-weight: bold;
  z-index: 1;
}
